body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #B68973;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body::-webkit-scrollbar{
    width: 0.5em;
}
body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #EABF9F;
}
body::-webkit-scrollbar-thumb{
    background-color: #FAF3E0;
    border: 0.5px solid #B68973;
}
:root{
    scrollbar-color: #FAF3E0 #B68973;
    scrollbar-width: thin;
}
.content::-webkit-scrollbar{
    width: 0.5em;
}
.content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #FAF3E0;
}
.content::-webkit-scrollbar-thumb{
    background-color: #EABF9F;
    border: 0.5px solid #B68973;
}
.pagewrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF3E0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.special{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    color: #1E212D;
}
.links{
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #B68973;
    font-size: 18px;
    font-weight: 400px;
}
a:hover{
    color: #1E212D;
}
.sidenav>div>a:hover{
    padding-left: 30px;
    transition: 500ms ease-in;
}
.cat{
    color: #1E212D;
}
.teejay{
    padding: 7px;
    box-sizing: border-box;
}
.teejay>h2:hover{
    cursor: pointer;
}
#search{
    padding: 7px;
    border-radius: 15px;
    background-color: transparent;
    outline: none;
    padding-left: 30px;
    border: 2px solid #1E212D;
}
span{
    color: #1E212D;
}
#fas{
    position: absolute;
    padding: 10px;
    z-index: 3;
}
#fas:hover{
    cursor: pointer;
    color: #1E212D;
}
.body{
    display: flex;
    box-sizing: border-box;
}
.sidenav{
    width: 20%;
    box-sizing: border-box;
    background-color: #EABF9F;
    display: flex;
    flex-direction: column;
}
.content{
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.content>div{
    width: 48%;
    height: 40vh;
    margin: 1%;
}
.content>div>a>img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.download{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #FAF3E0;
}
.download>a{
    font-size: 12px;
}
.sidenav>div{
    padding:16.5px;
    box-sizing: border-box;
}
footer{
    width: 100%;
    background-color: #FAF3E0;
    padding: 15px;
    box-sizing: border-box;
}
.icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons>a{
    padding: 5px;
}
.icons>a{
    font-size: 20px;
}
#bars{
    z-index: 2;
}
#logouts{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    visibility: collapse;
    z-index: -1;
    font-size: 10px;
}

/* <------------------- Media Query Section ---------------------> */
@media screen and (max-width: 780px) and (min-width: 320px){
    .navbar{
        flex-direction: column;
    }
    .links{
        padding: 12px;
        position: relative;
    }
    a{
        font-size: 15px;
    }
    .body{
        flex-direction: column;
    }
    .sidenav{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }    
    .sidenav>div{
        width: 50%;
    }
    .content{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .content>div{
        width: 100%;
        height: 35vh;
        margin: 3%;
    }
    .sidenav>div>a:hover{
        padding-left: 0px;
        transition: none;
    }
}