body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #B68973;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pagewrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formwrapper{
    width: 100%;
    height: 100%;
    background-color: #EABF9F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-eye-slash:hover, .fa-eye:hover{
    cursor: pointer;
    color: #1E212D;
}
span, a:hover{
    color: #1E212D;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FAF3E0;
}
.navbar>form{
    display: flex;
    padding: 10px;
    font-size: 20px;
    position: relative;
}
.navbar>form>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar>form>div>div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar>form>div>p{
    position: absolute;
    bottom: 0;
}
.navbar>form>div>div>div{
    display: flex;
    margin-right: 5px;
}
.navbar>form>div>div>input{
    width: 180px;
    padding: 10px;
    border: 1px solid #EABF9F;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
}
#submitted{
    width: auto;
}
#submitted:hover{
    cursor: pointer;
}
.teejay{
    padding: 10px;
    box-sizing: border-box;
}
.teejay:hover{
    cursor: pointer;
}
footer{
    width: 100%;
    height: auto;
    background-color: #FAF3E0;
    padding: 15px;
    box-sizing: border-box;
}
.icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons>a{
    padding: 5px;
}
.icons>a{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #B68973;
}
.formwrapper>form{
    width: 500px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#username, #passwords{
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #EABF9F;
    border-radius: 20px;
    outline: none;
}
.formwrapper>form>div{
    font-size: 20px;
    text-align: center;
}
#submit, #submit2{
    padding: 8px 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #EABF9F;
    font-size: 15px;
    outline: none;
}
#submit:hover, #submit2:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#form>div, #form2>div{
    font-size: 15px;
    margin-top: 10px;
}
#token{
    padding: 8px;
    width: 200px;
    border: 1px solid #EABF9F;
    border-radius: 20px;
    outline: none;
}
input[type="password"]{
    padding: 8px;
    width: 200px;
    border: 1px solid #EABF9F;
    border-radius: 20px;
    outline: none;
}
input[type="text"]{
    padding: 8px;
    width: 200px;
    border: 1px solid #EABF9F;
    border-radius: 20px;
    outline: none;
}
.red, .green{
    color: red;
    font-size: 15px;
    text-align: center;
    margin: 5px 0 5px 0;
}
#form2{
    display: none;
}
.green{
    color: green;
}

/* <------------------- Media Query Section ---------------------> */
@media screen and (max-width: 780px) and (min-width: 320px){
    .navbar{
        flex-direction: column;
    }
    .teejay{
        text-align: center;
    }
    .navbar>form{
        flex-direction: column;
        font-size: 15px;
    }
    .navbar>form>div>div{
        flex-direction: column;
        margin-bottom: 10px;
    }
}